{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - LigMol</title>
    <meta name="description" content="A simple complex database">
    <link rel="stylesheet" href="{% static 'complexTable/bootstrap/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'complexTable/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="{% static 'complexTable/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'complexTable/custom.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'complexTable/js/sorttable.js' %}"></script>
    
    <link rel="stylesheet" href="{% static 'complexTable/c3.min.css' %}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'complexTable/js/c3.js' %}"></script>
    <script src="{% static 'complexTable/js/html2canvas.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            document.getElementById("exportHistogram").addEventListener("click", function() {

            html2canvas(document.querySelector('#show-histogram'),{
                    letterRendering: 1,
                    allowTaint: true,
                    width: $('#show-histogram > svg').width(),//{{ histogram|getItem:"dsize" }},
                    height: 600
                }).then(function(canvas) {
                    console.log(canvas);
                    saveAs(canvas.toDataURL(), 'histogram.png');
                });
            });

            function saveAs(uri, filename) {
                var link = document.createElement('a');

                if (typeof link.download === 'string') {
                    link.href = uri;
                    link.download = filename;

                    //Firefox requires the link to be in the body
                    document.body.appendChild(link);
                    //simulate click
                    link.click();
                    //remove the link when done
                    document.body.removeChild(link);
                } else {
                    window.open(uri);
                }
            }
        });
        </script>
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav" style="background-color: #829eaa;">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="{% url 'complexTable:index' %}">LigMol</a><button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger pointer" role="presentation"><a class="nav-link js-scroll-trigger" onclick="location.href='{% url 'complexTable:index' %}' + '#home'">Home</a></li>
                    <li class="nav-item nav-link js-scroll-trigger pointer" role="presentation"><a class="nav-link js-scroll-trigger" onclick="location.href='{% url 'complexTable:index' %}' + '#about'">About</a></li>
                    <li class="nav-item nav-link js-scroll-trigger pointer" role="presentation"><a class="nav-link js-scroll-trigger" onclick="location.href='{% url 'complexTable:index' %}' + '#contact'">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="home" >

        <div style='margin-top:90;'></div>
        <br/>
        <section class="content-section-small">
            <div class="row">
                <div class="col-md-4 col-sm-12 panel panel-default text-center">
                    <input value="Return" type="button" onclick="location.href='{% url 'complexTable:complexTable' %}'" class="btn"></input>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-default text-center" id="ligandNgl">
                        <script src="https://unpkg.com/ngl"></script>
                        <script>
                            var loadFileUrl = "{% static 'data/mols/CFF.cif' %}";
                            document.addEventListener("DOMContentLoaded", function() {
                                function e() {
                                    return d ? "not _h and " + r : r
                                }

                                function t(e, t) {
                                    var n = !1;
                                    return e.getView(new NGL.Selection(t)).eachAtom(function(e) {
                                        (isNaN(e.x) || isNaN(e.y) || isNaN(e.z)) && (n = !0)
                                    }), n
                                }

                                function n() {
                                    f ? u.setSpin(null) : u.setSpin([0, 1, 0], .01), f = !f
                                }

                                function i() {
                                    l.setVisibility(!s), s = !s
                                }

                                function o() {
                                    c.setSelection(e()), d = !d
                                }
                                var l, a, c, d = !0,
                                    s = !0,
                                    r = "/0",
                                    u = new NGL.Stage("viewport", {
                                        backgroundColor: "white",
                                        clipDist: 1
                                    });
                                u.loadFile(loadFileUrl).then(function(n) {
                                    r = t(n.structure, "/0") ? "/1" : "/0", c = n, c.setSelection(e()), a = n.addRepresentation("ball+stick", {
                                        multipleBond: "symmetric"
                                    }), l = n.addRepresentation("label", {
                                        labelType: "atomname",
                                        color: "black",
                                        fontWeight: "bold ",
                                        xOffset: .1,
                                        yOffset: .1,
                                        radius: 1.4
                                    }), i(), o(), u.autoView(1)
                                });
                                var f = !1;
                                n(), document.getElementById("nglRotateBtn").addEventListener("click", n), document.getElementById("nglLabelsBtn").addEventListener("click", i), document.getElementById("nglHydrogensBtn").addEventListener("click", o)
                            });
                        </script>
                        <div id="viewport" class="border px-3" style="width: 100%; height: 400px; margin-left: 5px; margin-right: 5px; overflow: hidden;">
                            <!-- <div style="display: none; position: fixed; z-index: 1000000; pointer-events: none; background-color: rgba(0, 0, 0, 0.6); color: lightgrey; padding: 8px; font-family: sans-serif; bottom: 603px; left: 1007px;">atom: [CFF]1.N1/0 (CFF.cif)</div> -->
                        </div>
                        <div class="text-center">
                            <a class="btn btn-xs btn-default" id="nglRotateBtn">Rotate</a>
                            <a class="btn btn-xs btn-default" id="nglHydrogensBtn">Hydrogens</a>
                            <a class="btn btn-xs btn-default" id="nglLabelsBtn">Labels</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">{% for key, val in info.items %}{% if key|lower == "complex" %}<h1 id="complex">{{ val }}</h1>{% elif key|lower != "id" %}<p class="text-left">{{ key }}: {{ val }}</p>{% endif %}
                    {% endfor %}<input value="Download" type="button" onclick="window.open('download?id={{ bigID }}')" class="btn"></input>
                </div>
            </div>
        </section>
        <section style="width: 100%; height: 780px; overflow-y: hidden; overflow-x: hidden;">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="twodmap-tab" data-toggle="tab" href="#twodmap" role="tab" aria-controls="twodmap" aria-selected="true">2D Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="histogram-tab" data-toggle="tab" href="#histogram" role="tab" aria-controls="histogram" aria-selected="false">histogram</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                </li>
            </ul>
                    
            <div class="tab-content">
                <div class="tab-pane fade high show active text-center" id="twodmap" role="tabpanel" aria-labelledby="twodmap-tab"><img src="{% static 'data/dats/2D_map.png' %}" style="height: 600px; width: 800px;" class="img-fluid" alt="2D Map"></div>
                <div class="tab-pane fade high" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                <div class="tab-pane fade high" id="histogram" role="tabpanel" aria-labelledby="histogram-tab" style="height: 900px;">
                    <div class="border-bottom">
                        <input id="exportHistogram" type="button" value="Export graphic as image" class="mx-4 my-2"></input>
                        <form method="POST" action="hist-form" id="hist-form">
                            <div class="mx-4 my-2">
                                {% csrf_token %}
                                {{ histForm }}
                                <input type="submit" value="Update Graphic" class="tiny button">
                            </div>
                        </form>
                    </div>
                    <div style="width:auto;">
                        <style>
                            svg {
                                display: block;
                                margin: auto;
                            }
                        </style>
                        <div id="show-histogram" class="center" style="width: auto; overflow-x: auto;"></div>
                    </div>
                    <script id="hist-code">
                        var chart = c3.generate({
                            bindto: '#show-histogram',
                            data: {
                                columns: [
                                    {% for data in histogram|getItem:'datas' %}[{% for info in data %}{% if forloop.first %}'{{ info }}'{% else %}{{ info }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}]{% if not forloop.last %}, 
                                    {% endif %}{% endfor %}
                                ],
                                type: 'bar'
                            },
                            size: {
                                height: 600,
                                width: {{ histogram|getItem:'dsize' }}
                            },
                            padding: {
                                    bottom: 80 // add 10px for some spacing
                            },
                            axis: {
                                x: {
                                    type: 'category',
                                    categories: [{% for name in histogram|getItem:'names' %}'{{ name }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
                                }
                            },
                            bar: {
                                width: {
                                    ratio: 0.7 // this makes bar width 50% of length between ticks
                                }
                            }
                        });
                    </script>
                    <style id="hist-style">
                        .html2canvas-container
                        {
                            width: {{ histogram|getItem:'dsize' }}px !important;
                            height: 600px !important;
                        }
                    </style>
                    <script>
                        // Submit post on submit
                        $('#hist-form').on('submit', function(event){
                            event.preventDefault();
                            console.log("form submitted!")  // sanity check
                            if($("#id_mincutoff").val() > $("#id_maxcutoff").val())
                            {
                                alert("Minimum cutoff should not be greater than Maximum cutoff and vice versa!")
                            }
                            else
                            {
                                hist_post();
                            }
                        });

                        // AJAX for posting
                        function hist_post() {
                            console.log("create post is working!") // sanity check
                            $.ajax({
                                url : "hist_post", // the endpoint
                                type : "POST", // http method
                                data : { mincutoff : $('#id_mincutoff').val(), maxcutoff : $('#id_maxcutoff').val() }, // data sent with the post request

                                // handle a successful response
                                success : function(json) {
                                    //$('#min_val').val(''); // remove the value from the input
                                    //$('#max_val').val(''); // remove the value from the input
                                    console.log(json); // log the returned json to the console
                                    
                                    $("#hist-code").empty(); // Remove data from hist-code DOM
                                    $("#hist-style").empty(); // Remove data from hist-code DOM
                                    $("#show-histogram").empty(); // Remove data from hist-code DOM
                                    
                                    var data = json;//JSON.parse(json);
                                    $("#hist-code").prepend(data['script']);
                                    $("#hist-style").prepend(data['style']);

                                    eval(document.getElementById("hist-code").innerHTML);
                                    eval(document.getElementById("hist-style").innerHTML);

                                    console.log("success"); // another sanity check
                                },

                                // handle a non-successful response
                                error : function(xhr,errmsg,err) {
                                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                }
                            });
                        };
                    </script>
                </div>
                <div class="tab-pane fade high" id="settings" role="tabpanel" aria-labelledby="settings-tab">4</div>
            </div>
                    
            <!-- <script>
                $(function () {
                    $('#myTab li:last-child a').tab('show')
                })
            </script> -->
        </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;LigMol 2018</p>
        </div>
    </footer>
    <script src="{% static 'complexTable/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- <script src="{% static 'complexTable/js/grayscale.js' %}"></script> -->
    <script src="{% static 'complexTable/js/particles.min.js' %}"></script>
    <script src="{% static 'complexTable/js/ligmol.js' %}"></script>
    <script src="{% static 'complexTable/js/custom.js' %}"></script>
</body>

</html>